/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

.body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #102746;
    ;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

/*Header Styles*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 82px;
}

.header__item:last-child{
    margin-right: 0px;
}

.header__link{
font-size: 18px;
line-height: 24px;
color: white;
text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

/*Intro Styles*/
.intro{
    min-height: 100vh;
    background: url(/img/Hero.jpg) no-repeat center;
    background-size: cover;
}

.intro__title{
    padding-top: 263px;
    margin-bottom: 22px;
    max-width: 619px;
    font-size: 50px;
    line-height: 60px;
    color: white;
}

.intro__subtitle{
    padding-bottom: 59px;
    max-width: 546px;
    line-height: 24px;
    color: white;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-from__field{
    width: 297px;
    background: transparent url(../img/svg/oval.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-from__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form__button{
    padding: 15px 39px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 24px;
    background: #1B7DFF;
    border: 0;
}

.search-form__button:hover, .search-form__button:focus, .search-form__button:active{
    background: #0c65da;
}
